<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">Listagem de clientes</h3>
                <p class="text-sm mb-0">
                    Nesta página é possível visualizar e alterar dados de um cliente
                </p>
            </div>

            <div class="table-responsive py-4">
                <table class="table table-flush" id="datatable-buttons">
                    <thead class="thead-light">
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Cidade</th>
                            <th>E-mail</th>
                            <th>Cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Cidade</th>
                            <th>E-mail</th>
                            <th>Cadastro</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody class="clientList">
                        {{#each clients}}
                        <tr data-id="{{id}}">
                            <td>{{name}}</td>
                            <td>{{type}}</td>
                            <td>{{address.city}}</td>
                            <td>{{contact.email}}</td>
                            <td>{{createdAt}}</td>
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item clientView" data-id="{{id}}" href="#">Visualizar</a>
                                        <a class="dropdown-item clientDestroy text-danger" data-id="{{id}}"
                                            href="#">Excluir</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{>modal-success}}
        {{>modalClient}}
    </div>
</div>